<body>
    <div class="page_padding">
        <h1>Log In</h1>
            <%= form_for(:session, url: login_path) do |f| %>
            <label>Name:</label><br>
                <%= f.text_field :name %><br>
            <label>Password:</label><br>
                <%= f.password_field :password %><br>

            <%= submit_tag "Submit" %>
            <% end %>
    </div>
</body>