<body>
    <div class="page_padding">
        <h1><%= @book.title %></h1>
            <h2>Information</h2>
                <div class="edit"><%= link_to "Edit", edit_book_path(@book.id) %></div>

            <p>Author: <%= link_to "#{@book.author.name}", author_path(@book.author.id) %>
    </div>
</body>