</br></br><h1><%= @book.title %></h1></br></br>

<h2>Information</h2>
<h4>See something wrong? <%= link_to "Edit it here.", edit_book_path(@book.id) %></h4>

    <p>Author: <%= link_to "#{@book.author.name}", author_path(@book.author.id) %>
</br>